USE [We6]
GO
/****** Object:  StoredProcedure [dbo].[BuildNetworkElementHierarchy]    Script Date: 10/6/2025 12:48:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[BuildNetworkElementHierarchy]
AS
BEGIN
    -- Step 1: Build Network_Element_Type hierarchy in STA
    -- Insert root Network Element Types (no parent)
    INSERT INTO Network_Element_Type (Network_Element_Type_Name, Parent_Network_Element_Type_Key, Network_Element_Hierarchy_Path_Key)
    SELECT Network_Element_Type_Name, 
           Parent_Network_Element_Type_Key, 
           Network_Element_Hierarchy_Path_Key
    FROM Network_Element_Type
    WHERE Parent_Network_Element_Type_Key IS NULL;

    -- Insert child Network Element Types (those with parents)
    INSERT INTO Network_Element_Type (Network_Element_Type_Name, Parent_Network_Element_Type_Key, Network_Element_Hierarchy_Path_Key)
    SELECT Network_Element_Type_Name, 
           Parent_Network_Element_Type_Key, 
           Network_Element_Hierarchy_Path_Key
    FROM Network_Element_Type
    WHERE Parent_Network_Element_Type_Key IS NOT NULL;

    -- Step 2: Build Network_Element hierarchy in STA
    -- Insert root Network Elements (no parent)
    INSERT INTO Network_Elements (Network_Element_Name, Network_Element_Type_Key, Parent_Network_Element_Key)
    SELECT Network_Element_Name, 
           Network_Element_Type_Key, 
           Parent_Network_Element_Key
    FROM Network_Elements
    WHERE Parent_Network_Element_Key IS NULL;

    -- Insert child Network Elements (those with parents)
    INSERT INTO Network_Elements (Network_Element_Name, Network_Element_Type_Key, Parent_Network_Element_Key)
    SELECT Network_Element_Name, 
           Network_Element_Type_Key, 
           Parent_Network_Element_Key
    FROM Network_Elements
    WHERE Parent_Network_Element_Key IS NOT NULL;

    -- Optionally: You can log or return the status of the hierarchy build process.
    PRINT 'Network Element hierarchy built successfully!';
END;
----------------------------------------------------------------------------
USE [We6]
GO
/****** Object:  StoredProcedure [dbo].[GetAllParentNetworkElements]    Script Date: 10/6/2025 12:48:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetAllParentNetworkElements]
    @NetworkElementKey INT   -- Input parameter: The key of the network element
AS
BEGIN
    -- Step 1: Check if the provided network element key exists
    IF NOT EXISTS (SELECT 1 FROM Network_Elements WHERE Network_Element_Key = @NetworkElementKey)
    BEGIN
        PRINT 'Network Element not found';
        RETURN;  -- Exit if the network element does not exist
    END

    -- Step 2: Declare a temporary table to store the parent chain
    DECLARE @ParentChain TABLE (
        Network_Element_Key INT,
        Network_Element_Name NVARCHAR(255),
        Network_Element_Type_Name NVARCHAR(255)
    );

    -- Step 3: Start from the given network element and trace upwards
    DECLARE @CurrentElementKey INT = @NetworkElementKey;

    -- Loop to trace all parents
    WHILE @CurrentElementKey IS NOT NULL
    BEGIN
        -- Insert the current network element and its type into the temporary table
        INSERT INTO @ParentChain (Network_Element_Key, Network_Element_Name, Network_Element_Type_Name)
        SELECT 
            ne.Network_Element_Key,
            ne.Network_Element_Name,
            net.Network_Element_Type_Name
        FROM Network_Elements AS ne
        JOIN Network_Element_Type AS net
            ON ne.Network_Element_Type_Key = net.Network_Element_Type_key
        WHERE ne.Network_Element_Key = @CurrentElementKey;

        -- Move to the parent network element
        SELECT @CurrentElementKey = Parent_Network_Element_Key
        FROM Network_Elements
        WHERE Network_Element_Key = @CurrentElementKey;
    END

    -- Step 4: Return the parent chain in reverse order (topmost parent first)
    SELECT 
        Network_Element_Name, 
        Network_Element_Type_Name
    FROM @ParentChain
    ORDER BY Network_Element_Key DESC;  -- Sorting to return the topmost parent first
END;

----------------------------------------------------------------------
USE [We6]
GO
/****** Object:  StoredProcedure [dbo].[GetFirstLevelChildNetworkElements]    Script Date: 10/6/2025 12:49:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetFirstLevelChildNetworkElements]
    @ParentNetworkElementKey INT   -- Input parameter: The key of the parent network element
AS
BEGIN
    -- Step 1: Check if the provided network element key exists
    IF NOT EXISTS (SELECT 1 FROM Network_Elements WHERE Network_Element_Key = @ParentNetworkElementKey)
    BEGIN
        PRINT 'Network Element not found';
        RETURN;  -- Exit if the network element does not exist
    END

    -- Step 2: Select the first-level child network elements
    SELECT 
        ne.Network_Element_Key, 
        ne.Network_Element_Name, 
        net.Network_Element_Type_Name,  -- To show the type of network element
        ne.Parent_Network_Element_Key  -- Display the parent key for reference
    FROM Network_Elements AS ne
    JOIN Network_Element_Type AS net
        ON ne.Network_Element_Type_Key = net.Network_Element_Type_key  -- Join to get the type name
    WHERE ne.Parent_Network_Element_Key = @ParentNetworkElementKey;  -- Match by the parent key
END;
---------------------------------------------------------------------------------------------------USE [We6]
GO
/****** Object:  StoredProcedure [dbo].[SP_Close]    Script Date: 10/6/2025 12:49:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Close]
AS
BEGIN
    BEGIN TRY
        -- Start a transaction
        BEGIN TRANSACTION;

        -- Step 1: Update the Cutting_Down_Header for closed incidents (those with an EndDate in STA)
        UPDATE Cutting_Down_Headers
        SET
            ActualEndDate = sta.EndDate,                  -- Set the ActualEndDate from STA (CuttingDownA/B.EndDate)
            SynchUpdateDate = GETDATE(),                  -- Set the SynchUpdateDate to the current timestamp
            UpdateSystemUserID = CASE 
                                    WHEN sta.CreatedUser = 'A' THEN 1 -- Source A user ID (adjust as needed)
                                    WHEN sta.CreatedUser = 'B' THEN 2 -- Source B user ID (adjust as needed)
                                    ELSE 3 -- Manual user ID (adjust as needed)
                                END
        FROM Cutting_Down_Headers AS header
        JOIN CuttingDownAs AS sta
            ON header.Cutting_Down_Incident_ID = sta.Cutting_Down_A_Incident_ID  -- Link by incident ID (for CuttingDownA)
        WHERE sta.EndDate IS NOT NULL;  -- Only consider incidents that have an EndDate (closed incidents)

        -- Step 2: Insert into Cutting_Down_Detail for the closed incidents (CuttingDownA)
        MERGE INTO Cutting_Down_Details AS target
        USING CuttingDownAs AS source
            ON target.Cutting_Down_Key = source.Cutting_Down_A_Incident_ID  -- Match by incident ID
        WHEN MATCHED THEN
            UPDATE SET 
                target.Network_Element_Key = source.Network_Element_Key,  -- Update the related Network Element Key
                target.ActualCreatetDate = source.CreateDate,              -- Update creation date
                target.ImpactedCustomers = 0                               -- Set impacted customers (default or calculated value)
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (Cutting_Down_Key, Network_Element_Key, ActualCreatetDate, ImpactedCustomers)
            VALUES (source.Cutting_Down_A_Incident_ID, ISNULL(source.Network_Element_Key, 1), source.CreateDate, 0); -- Default to 1 for missing Network_Element_Key

        -- Step 3: Handle Cutting_Down_B incidents (same logic as for Cutting_Down_A)
        MERGE INTO Cutting_Down_Details AS target
        USING CuttingDownBs AS source
            ON target.Cutting_Down_Key = source.Cutting_Down_B_Incident_ID  -- Match by incident ID
        WHEN MATCHED THEN
            UPDATE SET 
                target.Network_Element_Key = source.Network_Element_Key,  -- Update the related Network Element Key
                target.ActualCreatetDate = source.CreateDate,              -- Update creation date
                target.ImpactedCustomers = 0                               -- Set impacted customers (default or calculated value)
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (Cutting_Down_Key, Network_Element_Key, ActualCreatetDate, ImpactedCustomers)
            VALUES (source.Cutting_Down_B_Incident_ID, ISNULL(source.Network_Element_Key, 1), source.CreateDate, 0); -- Default to 1 for missing Network_Element_Key

        -- Step 4: Insert or update Cutting_Down_Details for seeded data in Cutting_Down_Header
        -- Handle Cutting_Down_Header records directly from the seed data
        -- Cutting_Down_Key = 1, Cutting_Down_Key = 2, etc.

        -- Insert or update Cutting_Down_Detail for the given Cutting_Down_Key based on seeded data
        MERGE INTO Cutting_Down_Details AS target
        USING (VALUES 
            (1, 7, '2020-01-01', NULL, 100),
            (1, 8, '2020-01-01', NULL, 50)
        ) AS source(Cutting_Down_Key, Network_Element_Key, ActualCreatetDate, ActualEndDate, ImpactedCustomers)
        ON target.Cutting_Down_Key = source.Cutting_Down_Key AND target.Network_Element_Key = source.Network_Element_Key
        WHEN MATCHED THEN
            UPDATE SET 
                target.ActualCreatetDate = source.ActualCreatetDate,
                target.ActualEndDate = source.ActualEndDate,
                target.ImpactedCustomers = source.ImpactedCustomers
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (Cutting_Down_Key, Network_Element_Key, ActualCreatetDate, ActualEndDate, ImpactedCustomers)
            VALUES (source.Cutting_Down_Key, source.Network_Element_Key, source.ActualCreatetDate, source.ActualEndDate, source.ImpactedCustomers);

        -- Step 5: Commit the transaction if everything is successful
        COMMIT TRANSACTION;

        -- Step 6: Print a success message
        PRINT 'Closed incidents have been updated in Cutting_Down_Header and Cutting_Down_Detail tables!';
        
    END TRY
    BEGIN CATCH
        -- Rollback the transaction in case of an error
        ROLLBACK TRANSACTION;

        -- Return error message
        PRINT 'Error occurred: ' + ERROR_MESSAGE();
    END CATCH;
END;

--------------------------------------------------------------------------------------------------
USE [We6]
GO
/****** Object:  StoredProcedure [dbo].[SP_Create]    Script Date: 10/6/2025 12:49:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Create]
AS
BEGIN
    -- Step 1: Insert open incidents from STA to Cutting_Down_Header in FTA

    -- Insert incidents into Cutting_Down_Header
    INSERT INTO Cutting_Down_Headers (
        Cutting_Down_Incident_ID, 
        Channel_Key, 
        Cutting_Down_Problem_Type_Key, 
        ActualCreatetDate, 
        SynchCreateDate, 
        CreateSystemUserID
    )
    SELECT 
        sta.Cutting_Down_A_Incident_ID, -- Incident ID from STA
        Channel.Channel_Key,            -- Using Channel table to get the Channel_Key
        sta.Problem_Type_Key,           -- Problem Type Key from STA
        sta.CreateDate,                 -- Actual Creation Date from STA
        GETDATE(),                      -- Synchronization Date (current timestamp)
        CASE 
            WHEN sta.CreatedUser = 'A' THEN 1 -- Source A User ID (adjust accordingly)
            WHEN sta.CreatedUser = 'B' THEN 2 -- Source B User ID (adjust accordingly)
            ELSE 3 -- Manual User ID (adjust accordingly)
        END AS CreateSystemUserID
    FROM CuttingDownAs AS sta
    JOIN Channels AS Channel ON 
        (sta.CreatedUser = 'A' AND Channel.Channel_Name = 'Source A') OR 
        (sta.CreatedUser = 'B' AND Channel.Channel_Name = 'Source B') OR 
        (sta.CreatedUser IS NULL AND Channel.Channel_Name = 'Manual') -- Default case for Manual
    WHERE sta.EndDate IS NULL; -- Only open incidents (those without an EndDate)

    -- Step 2: Insert related details into Cutting_Down_Detail
    INSERT INTO Cutting_Down_Details (
        Cutting_Down_Key, 
        Network_Element_Key, 
        ActualCreatetDate, 
        ImpactedCustomers
    )
    SELECT 
        sta.Cutting_Down_A_Incident_ID,  -- Use the same incident ID for detail
        ne.Network_Element_Key,           -- Network Element Key from Network_Elements table
        sta.CreateDate,                   -- Actual Creation Date from STA
        0                                  -- Impacted Customers (you may need to calculate this if available in STA)
    FROM CuttingDownAs AS sta
    -- JOIN with Network_Elements to get the Network_Element_Key
   JOIN Network_Elements AS ne 
    ON ne.Network_Element_Key = sta.Network_Element_Key  -- Correct condition to link CuttingDownA and Network_Elements
    WHERE sta.EndDate IS NULL;

    -- Step 3: Handle incidents with network elements undefined in FTA
    -- If the Network_Element_Key is not found in FTA, insert into Cutting_Down_Ignored
    INSERT INTO Cutting_Down_Ignoreds (
        
        Cutting_Down_Key, 
        ActualCreatetDate, 
        SynchCreateDate, 
        Cabel_Name, 
        Cabin_Name, 
        CreatedUser
    )
    SELECT 
         
        sta.Cutting_Down_A_Incident_ID,  -- Link the ignored incident with the same ID
        sta.CreateDate,                  -- Actual Creation Date
        GETDATE(),                       -- Synchronization Date
        sta.Cutting_Down_Cabin_Name,     -- Cabin Name from STA
        NULL,                            -- Assuming you don't have cable info (adjust if needed)
        sta.CreatedUser                  -- Created User (Source A/B/Manual)
    FROM CuttingDownAs AS sta
    WHERE sta.EndDate IS NULL
    AND NOT EXISTS (SELECT 1 FROM Network_Elements AS ne WHERE ne.Network_Element_Key = sta.Network_Element_Key); -- Check for undefined network elements in FTA

    -- Print a message indicating successful creation
    PRINT 'Incidents created and transferred to FTA!';
END;


-- Check how many rows were inserted into Cutting_Down_Headers
SELECT COUNT(*) FROM Cutting_Down_Headers;

-- Check how many rows were inserted into Cutting_Down_Details
SELECT COUNT(*) FROM Cutting_Down_Details;

-- Check how many rows were inserted into Cutting_Down_Ignoreds
SELECT COUNT(*) FROM Cutting_Down_Ignoreds;
-----------------------------------------------
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetTotalAffectedCustomers]    Script Date: 10/6/2025 12:49:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION   [dbo].[fn_GetTotalAffectedCustomers]
(
    @NetworkElementKey INT  -- Input: The key of the network element
)
RETURNS INT
AS
BEGIN
    DECLARE @TotalAffectedCustomers INT = 0;

    -- Step 1: Get all leaf nodes of the given network element
    WITH NetworkElementHierarchy AS (
        -- Recursive query to get all leaf nodes starting from the given network element
        SELECT ne.Network_Element_Key, ne.Parent_Network_Element_Key
        FROM Network_Elements AS ne
        WHERE ne.Network_Element_Key = @NetworkElementKey

        UNION ALL

        SELECT ne.Network_Element_Key, ne.Parent_Network_Element_Key
        FROM Network_Elements AS ne
        INNER JOIN NetworkElementHierarchy AS neh
            ON ne.Parent_Network_Element_Key = neh.Network_Element_Key
    )

    -- Step 2: Get all affected customers from the leaf nodes
    SELECT @TotalAffectedCustomers = SUM(cdd.ImpactedCustomers)
    FROM Cutting_Down_Details AS cdd
    INNER JOIN NetworkElementHierarchy AS neh
        ON cdd.Cutting_Down_Key = neh.Network_Element_Key
    --WHERE cdd.ActualEndDate IS NOT NULL;  -- Only consider incidents that have ended

    -- Return the total number of affected customers
    RETURN @TotalAffectedCustomers;
END;
